.account-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.first-item {
  width: 50%;
}

.single-item, .first-item {
  display: flex;
  flex-direction: column;
}

.item-title {
  font-weight: bold;
}