.account-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.account-name {
  width: 50%;
}

.single-item, .account-name {
  display: flex;
  flex-direction: column;
}

.item-title {
  font-weight: bold;
}